<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Code Joker - Spotify Clone</title>
    <style>
        .hidden-player {
            position: absolute;
            left: 9999999px;
        }
        .play-button {
            padding: 10px 20px;
            background-color: green;
            color: white;
            border: none;
            margin-bottom: 10px;
        }
        .song-list {
            margin-top: 20px;
            display: grid;
            place-items: center;
        }
    </style>
</head>
<body>
    <div class="song-list">
        {% for song in songs %}
            <h3>{{ song.title }}</h3>
            <a href="?play={{ song.id }}">
                <button class="play-button">Play</button>
            </a>
            <img style="width: 300px;" src="{{ song.cover_image.url }}" alt="">
        {% endfor %}
    </div>

    {% if play_song %}
        <iframe class="hidden-player" src="{{ play_song.youtube_url_modify }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {% endif %}

</body>
</html>
