{% extends 'main/base.html' %}

{% block heading %}
    <title>Register Today!</title>
    <style>
        
    </style>
{% endblock %}

{% block body %}
    <form method="post" class="authentication-form">
        {% csrf_token %}
        <input placeholder="Username" type="text" name="username" required>
        <input placeholder="Password" type="password" name="password" required>
        <input placeholder="Confirm Password" type="password" name="password2" required>
        <button type="submit">Register</button>
    </form>
{% endblock %}
