<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Today!</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input placeholder="Username" type="text" name="username" required>
        <input placeholder="Password" type="password" name="password" required>
        <input placeholder="Confirm Password" type="password" name="password2" required>
        <button type="submit">Register</button>
    </form>
</body>
</html>
